<div class="container-fluid navigation">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav navbar-nav">
        <li class="all-auctions">
          <a routerLink="/all-items">
            <i class="navigation-icons pull-left fa fa-desktop" id="all-items-icon"></i>
            ALL AUCTIONS
          </a>
        </li>
        <li class="electronics">
          <a routerLink="/electronic-items">
            <i class="navigation-icons pull-left fa fa-desktop"></i>ELECTRONICS
          </a>
        </li>
        <li class="fashion">
          <a routerLink="/fashion-items"><i class="navigation-icons pull-left fa fa-shopping-bag"></i>FASHION</a>
        </li>
        <li class="home">
          <a routerLink="/home-items"><i class="navigation-icons pull-left fa fa-home"></i>HOME</a>
        </li>
        <li class="books">
          <a routerLink="/book-items"><i class="navigation-icons pull-left fa fa-book"></i>BOOKS</a>
        </li>
        <li class="children">
          <a routerLink="/children-items"><i class="navigation-icons pull-left fa fa-child"></i>CHILDREN</a>
        </li>
        <li class="misc">
          <a routerLink="/misc-items"><i class="navigation-icons pull-left fa fa-cog"></i>MISC</a>
        </li>
      </ul>
    </div>
  </div>
</div>
